.expenses-filter {
    color: rgb(28, 151, 223);
    padding: 0 90px;
  }
  
  
  
  .expenses-filter label {
    color: #000000;
    margin-bottom: 2.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }